<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админка</title>
</head>
<body>

    <h1>Админка</h1>
    <h2>Список пользователей</h2>

    <ul>
        <% userDirs.forEach(function(userId) { %>
            <li>
                <a href="/admin/user/<%= userId %>">Пользователь <%= userId %></a>
            </li>
        <% }); %>
    </ul>

</body>
</html>
